{% include 'navbar.html' %}

{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/about--s.css' %}">
<body>
    
<div class="about-3">
<div class="about-1">

    <div class="title">
    </div>

    <div class="personal-info">
        <div class="title-1">
            <h2>Personal Info</h2>
        </div>

        <div class="info-1">
        <div class="bio">
            <img src="{% static 'images/5thJuly2023-29.jpg' %}" alt="">
            <p>
                As a dedicated software developer with a year of experience, <br> I thrive on transforming complex challenges into innovative solutions. <br> My journey in technology is driven by a passion for continuous <br> learning and a commitment to excellence. I believe in the power of <br> collaboration and creativity to create impactful applications that <br> improve user experiences.

                My technical expertise spans various <br> programming languages and frameworks, allowing me to approach <br> each project with a diverse skill set. Whether it’s developing user-friendly <br> interfaces or optimizing backend functionality, I take pride in delivering <br> high-quality results that meet and exceed expectations.
                
                I am excited to <br> connect with like-minded professionals and contribute to projects that <br> push the boundaries of technology. Let’s work together to build solutions <br> that make a difference.            </p>
        </div>

        <div class="info">
            <div class="first-name">
                <span>First Name:</span>
                <h3>Ian</h3>
            </div>

            <div class="first-name">
                <span>Last Name:</span>
                <h3>Mburu</h3>
            </div>

            <div class="first-name">
                <span>Nationality:</span>
                <h3>Kenyan</h3>
            </div>

            <div class="first-name">
                <span>Phone</span>
                <h3>+254790193595</h3>
            </div>

            <div class="first-name">
                <span>Email:</span>
                <h3>ianongaruiya@gmail.com</h3>
            </div>

        </div>
        </div>
    </div>
</div>

<div class="about-2">

    <div class="education">
        <h1>Education</h1>
        <h3>Zindua School</h3>
        <p>Diploma in Information Technology</p>
        <small>2023 - 2024</small>
    </div>

    <div class="objective">
        <p>
            "As an enthusiastic and detail-oriented entry-level software engineer, <br> I am seeking a role where I can apply my foundational skills in coding <br> and problem-solving to contribute to innovative projects. I am eager to <br> join a collaborative team where I can further develop my technical <br> abilities, learn from experienced mentors, and make meaningful <br> contributions to software development."

        </p>
    </div>
</div>
</div>

</body>
{% endblock content %}