{% include 'navbar.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/homes.css' %}">

    <div class="container">
        <div class="img">
            <img src="{% static 'images/5thJuly2023-27.jpg' %}" alt="Image">
        </div>

        <div class="content">
            <h1>I'M IAN MBURU.</h1>
            <h2>Software Engineer</h2>
            <p>
                Ian is a dedicated developer with a passion for technology and innovation. He thrives on <br> challenges and consistently delivers creative solutions to complex problems. With one <br> year of experience, Ian’s commitment to growth and collaboration helps him push boundaries <br> and bring meaningful impact through his work in software development.</p>
           
        </div>
    </div>
{% endblock content %}
