{% include 'navbar.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">

    <div class="container">
        <div class="img">
            <img src="{% static 'images/5thJuly2023-27.jpg' %}" alt="Image">
        </div>

        <div class="content">
            <h1>I'M IAN MBURU.</h1>
            <h2>Software Engineer</h2>
            <p>
                A resourceful software engineer with the experience crafting impactful <br /> solutions across the stack. I specialize in turning complex challenges into <br /> clean, efficient code using modern tools like Python, JavaScript, and React. <br /> Whether architecting RESTful APIs, optimizing user experiences, or <br /> collaborating with cross-functional teams, I thrive on building systems that <br /> solve real-world problems. Currently exploring cloud technologies and <br /> open-source contributions to expand my impact.
              </p>
           
        </div>
    </div>
{% endblock content %}
