<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'images/bag1.png' %}">
    <title>Projects</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/projectss.css' %}">
</head>
<body>
    {% block content %}
    
    {% include 'navbar.html' %}
    
    <div class="content">
            <header>
                <h1>Project Showcase</h1>
            </header>
        
            <section class="projects-list">
                {% for project in projects %}
                <a href="{% url 'project-details' project.pk %}" class="details-link">
                    <div class="project-card">
                        <div class="project-details">
                            <h2 class="head">{{ project.projectName }}</h2>
                            <h2 class="description">{{ project.projectDescription }}</h2>
                                <div class="technology">
                                    <p1 class="tech"><strong></strong> {{ project.projectTechnology }}</p1>
                                    <h2 class="date">{{ project.projectDate }}</h2>
                                </div>
                            
                        </div>
                    </div>
                </a>
                {% empty %}
                    <p>No projects available.</p>
                {% endfor %}
            </section>
        
    </div>

    {% endblock content %}
</body>
</html>
