body {
    background: #000000;
    margin: 0;
    padding: 0;
    width: 100vw; /* Ensures the body takes full viewport width */
    overflow-x: hidden; /* Disables horizontal scrolling */
}

.download {
    margin-top: 300px;
    margin-left: 600px;
}

button {
    padding: 10px 40px;
    font-size: 15px;
    border-radius: 3px;
    background: #000;
    border: 1px #fff solid;
}

button a {
    font-family: sans-serif cursive;
    font-weight: 600;
    color: #fff;
}

@media (max-width: 768px) {
    .download {
        width: 300px;
        margin-left: 150px;
        margin-top: 100px;
    }
}