body {
    background: #000;
    margin: 0;
    padding: 0;
    width: 100vw; /* Ensure body doesn't cause overflow */
    overflow-x: hidden; /* Disable horizontal scrolling */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.project-card {
    width: 1000px;
    height: 500px;
}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-details h2 {
    color: #fff;
    font-size: 25px;
    font-family: cursive;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.project-details p {
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    padding: 20px;
}

.tech-link {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.project-details p1 {
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.project-details a {
    color: #fff;
    font-size: 16px;
    font-family: sans-serif cursive;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.project-details a:hover {
    text-decoration: underline;
}


/* Mobile responsiveness */
@media (max-width: 768px) {
    .projects-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .project-card {
        width: 100%;
        height: 200px;
        font-size: 10px;
    }
    
}
