body {
    background: #000;
    margin: 0;
    padding: 0;
    width: 100vw; /* Ensure body doesn't cause overflow */
    overflow-x: hidden; /* Disable horizontal scrolling */
    font-size: 15px;
    font-family: sans-serif;
}

header h1 {
    color: #fff;
    font-size: 40px;
    font-family: sans-serif cursive;
    font-weight: lighter;
    display: flex;
    justify-content: center;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-left: 150px;
    background-color: #312d2d;
    padding: 7px;
    width: 30%;
}

.project-card:hover {
    background-color: #4b47476b;
    transition: 0.30s;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    grid-gap: 10px;
}

.project-details h2 {
    color: #fff;
    font-size: 15px;
    font-family: sans-serif cursive;
    font-weight: lighter;
}

.description {
    
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.head {
    background: #6d6c6cb9;
    width: 25%;
    padding: 5px;
    border-radius: 10px;
}

.tech, .date {
    background: #6d6c6cb9;
    width: 25%;
    padding: 5px;
    border-radius: 10px; 
}

.technology {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.project-details p {
    color: #fff;
    font-size: 16px;
    font-family: sans-serif cursive;
    font-weight: lighter;
    letter-spacing: 1px;
}

.project-details p1 {
    color: #fff;
}



/* Mobile responsiveness */
@media (max-width: 768px) {
    .projects-list {
        grid-template-columns: 1fr;
        margin-left: -50px;
    }

}
